.navbar-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 30px;
  background-color: transparent;
  color: black;
  background-color: rgb(0, 0, 0);
}
.logo img {
  max-width: 100%;
  height: auto;
  
}
.navbar {
display: flex;
justify-content: flex-end;
align-items: center;
background-color: transparent;
color: black;}

.navbar-links{
  display: flex;
 
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.navbar-links li{
  margin-right: 30px;
  color: black;
  font-size: 2rem;
}
.navbar li a {
  text-decoration: none;
  color: white;
  }

.text-overlay{
  margin-top: 8%;
  text-align: center;
  font-size: 3rem;
}

.image-container{
  position: relative;
}
.image-container img{
 max-width: 100%;
 height: auto;
 display: block;
 
}

.image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.text-overlay{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  z-index: 1;
  margin-bottom: 0;
}

.text-overlay h1{
  margin-bottom: 0;
}

.btn-contact{
  background-color: #e0a421;
  color: white;
  
  font-size: 0.8rem;
  width: 20%;
  margin-top: -20%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 2rem;
text-align: center;
 
}


/* Adjust the styles for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .navbar-container{
    padding: 0;
  }
  .logo img {
    max-width: 80%;
    height: 100%;
    
  }
 .mobile-menu{
  display: block;
  background-color: rgb(197, 186, 186);
  }
  .menu-bar{
    width: 3px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
  }
  .navbar-links{
    display: none;
    flex-direction: column;
    
  }
  .navbar-links li a{
    font-size: 1rem;
  }

  .navbar.active .navbar-links{
    display: flex;
  }
  .text-overlay{
    text-align: center;
    
  }

  .text-overlay h1{
    font-size:1.5rem;
    margin-top: 0;
  }

  .menu-bar{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
    font-size: .1rem;

  }
  
  .navbar.active .mobile-menu .menu-bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .navbar.active .mobile-menu .menu-bar:nth-child(2) {
    opacity: 0;}
  
    .navbar.active .mobile-menu .menu-bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
    .text-overlay{
      margin-top: 10%;
      text-align: center;
      font-size: 0.6rem;
     }
     
    
    
    
}
  
  @media screen and (max-width: 768px){
    .btn-contact{
      font-size: 2vw;
      justify-content: center;
      padding-left: 2rem;
      padding-right: 4rem;
    }
  }
  
/* about us section */
.about-us-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
}


.about-us-image {
  background-image: url('image/photo_6305515425575843389_y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height:500px;
 max-width: 20rem;
  border-radius: 5rem;
}

.about-us-context{
  width: 50%;
  max-width: 50rem;
}

.about-us-title{
  font-size: 3rem;
  margin-bottom: 0.625rem;
  
}

.paragraph{
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 768px){
.about-us-container{
 
  flex-direction: column;
}

.about-us-image{
  height: 15rem;
  width: 80%;
}
.about-us-context{
  max-width: 50rem;
  padding: 1.25rem;
}

.about-us-title{
  font-size: 1rem;
  margin-bottom: 0.625rem;
  
}

.paragraph{
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1.25rem;
}

}
/* end about us section */

/* slider style */
.open-image{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f1f4fd;
}

.slider-container{
  max-width: 100%;
 background-color: rgb(201, 14, 14);
 padding-top: 3rem;
}

.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}
.slider-container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}


/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 380px;
    height: 480px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
/* end of slider style */

.flavour-container{
  display: flex;
  align-items: center;
}

.flavour-container img{
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* locate us style */
.locate-us-container{
 position: relative;
  justify-content: center;
  align-items: center;
  text-align:center ;
  padding: 4rem;
  background-color: rgb(201, 14, 14) ;
}
.locate-us-container img{
  max-width: 100%;
  height: auto;
 
}

.locate-us-container button{
  position:absolute;
   border-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-20%,-20%);
  padding: 1rem;
  font-size: 2rem;
  border-radius: 2rem;
  color: white;
  background-color: #e0a421;
  z-index: 1;
}




@media screen and (max-width:768px) {
  .locate-us-container{
    position: relative;
     justify-content: center;
     align-items: center;
     text-align:center ;
     padding: 2rem;
     background-color: rgb(201, 14, 14) ;
   }

  .locate-us-container button{
    position:absolute;
    border-style: none;
   top: 50%;
   left: 46%;
   transform: translate(-20%,-20%);
   padding: 1rem;
   font-size: 1rem;
   border-radius: 2rem;
   color: white;
   background-color: #e0a421;
   z-index: 1;
  }
}
/* end of locate us */
/* start of footer */
  footer{
    background-color: rgb(201, 14, 14);
  }
  .flavour-container{
    width: 100%;
   
  }
  .socialIcons{
    display: flex;
    justify-content: center;

  }

  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }

  .socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
    }
/* hover */

/* hover */

.footerNav{
  margin: 30px 0;
}

.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerBottom{
  display: flex;
  justify-content: center;
}

.footerNav ul li{
  text-decoration: none;
}

/* end of footer */